@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&display=swap');
$shadow: 0 0 6px 2px rgb(0 0 0 / 40%);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-style: bold;
}