.title{
    margin: 1ch;
}
.main-board{
    max-width: 700px;
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 4ch auto;
    padding: 2ch;
    &__block{
        width: 222px;
        height: 185px;
        padding-top: 3px;
        font-family: 'Courier New', Courier, monospace;
        font-size: 10em;
        text-align: center;
        vertical-align: middle;
    }
    &__block-d,
    &__block-e,
    &__block-f{
        border-top: 2px solid black;
        border-bottom: 2px solid black;
    }
    &__block-b,
    &__block-e,
    &__block-h{
        border-left: 2px solid black;
        border-right: 2px solid black;
    }
}

.red-text{
    color: red;
}

@media screen and (max-width: 700px) {
    .main-board{
        max-width: 400px;
        &__block{
            width: 122px;
            height: 92px;
            padding-top: 3px;
            font-size: 5em;
        }
    }
}

